<a href="https://colab.research.google.com/github/art-python/MSDeakin/blob/SIG720-MachineLearning/SIG720_TaskP3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **SIG720 Task P3**

Task Goal: To solve the following set of problems using Python.
1. Load "digits" datasets from SKlearn. Classify digit classes using KNN. Use the same data
splitting and performance metrics that you have used in previous week (week 4). Report your
findings including comparison of results with SVM.

2. Create digits classification model using DT algorithm using 50-50% and 70-30% data splitting
methods. Compare performances of these two models and explain the impact of difference in
data splitting on the performances of the model.
3. Create two more KNN-based classification models using the dataset used in Q1 by varying
distance metrics such as using cityblock and cosine. Report the performances of the
developed models including Q1 and explain the similarity or differences if any.
4. Creating random forest model using HR-Employee-Attrition.csv dataset and improve the
result using hyperparameter tuning. Hints. Visualise your performance fluctuation for
different hyperparameter values.
5. Creating GradientBoost model using HR-Employee-Attrition.csv dataset and improve the
result using hyperparameter tuning. Hints.
6. Compare the best model after hyperparameter tuning found in Q4 and Q5, and explain which
model is good and why.

## **Part-1**

**1. Load "digits" datasets from SKlearn. Classify digit classes using KNN. Use the same data splitting and performance metrics that you have used in previous week (week 4). Report your findings including comparison of results with SVM.**

Let's import important libraries from different python modules

In [2]:
# Import important libraries
import pandas as pd               #import Pandas package
import numpy as np                #import Numpy package
import matplotlib.pyplot as plt   #import Matplotlib package
import seaborn as sns             #import Seaborn package
%matplotlib inline

Let's load the dataset and diplay a brief head from it

In [3]:
# Import digit dataset from sklearn
from sklearn.datasets import load_digits

# Load the digits dataset
digits = load_digits()

# Convert data and target to a DataFrame
data_df = pd.DataFrame(digits.data, columns=[f'pix_{i}' for i in range(digits.data.shape[1])])
target_df = pd.DataFrame(digits.target, columns=['target'])

# Concatenate data and target DataFrames to get the final DataFrame
digits_df = pd.concat([data_df, target_df], axis=1)

# Display the DataFrame
digits_df.head()

,pix_0,pix_1,pix_2,pix_3,pix_4,pix_5,pix_6,pix_7,pix_8,pix_9,...,pix_55,pix_56,pix_57,pix_58,pix_59,pix_60,pix_61,pix_62,pix_63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

Now, we can check the shape of the dataset along with the statistical summary

In [4]:
# Shape of the datset
digits_df.shape

(1797, 65)

In [5]:
# Statistical Summary of the dataset
digits_df.describe()

,pix_0,pix_1,pix_2,pix_3,pix_4,pix_5,pix_6,pix_7,pix_8,pix_9,...,pix_55,pix_56,pix_57,pix_58,pix_59,pix_60,pix_61,pix_62,pix_63,target
count,1797.0,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,...,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000,1797.000000
mean,0.0,0.303840,5.204786,11.835838,11.848080,5.781859,1.362270,0.129661,0.005565,1.993879,...,0.206455,0.000556,0.279354,5.557596,12.089037,11.809126,6.764051,2.067891,0.364496,4.490818
std,0.0,0.907192,4.754826,4.248842,4.287388,5.666418,3.325775,1.037383,0.094222,3.196160,...,0.984401,0.023590,0.934302,5.103019,4.374694,4.933947,5.900623,4.090548,1.860122,2.865304
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,1.000000,10.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,11.000000,10.000000,0.000000,0.000000,0.000000,2.000000
50%,0.0,0.000000,4.000000,13.000000,13.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.000000,13.000000,14.000000,6.000000,0.000000,0.000000,4.000000
75%,0.0,0.000000,9.000000,15.000000,15.000000,11.000000,0.000000,0.000000,0.000000,3.000000,...,0.000000,0.000000,0.000000,10.000000,16.000000,16.000000,12.000000,2.000000,0.000000,7.000000
max,0.0,8.000000,16.000000,16.000000,16.000000,16.000000,16.000000,15.000000,2.000000,16.000000,...,13.000000,1.000000,9.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,9.000000

Now, we can split the dataset from the target variable by creating X and y as two seperate datasets

In [12]:
# Import train test split from sklearn
from sklearn.model_selection import train_test_split

# Split the data into features (X) and target (y)
X = digits_df.drop('target', axis=1)
y = digits_df['target']

Let's do a min-max scaling to bring down all the variables into a same scale for ease of modelling

In [13]:
from sklearn.preprocessing import MinMaxScaler

# Create a MinMaxScaler instance with the desired range (-1, 1)
scaler = MinMaxScaler(feature_range=(-1, 1))

# Fit the scaler on the training data and transform both training and testing data
X_scaled = scaler.fit_transform(X)

Let's recheck the statistical summary after the scaling of the features dataset

In [14]:
# Lets check the statiscal summary of the scaled data

X_scaled_summary = pd.DataFrame(X_scaled)

print("Scaled X_train:")
X_scaled_summary.describe().round(2)

Scaled X_train:

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
count,1797.0,1797.00,1797.00,1797.00,1797.00,1797.00,1797.00,1797.00,1797.00,1797.00,...,1797.00,1797.00,1797.00,1797.00,1797.00,1797.00,1797.00,1797.00,1797.00,1797.00
mean,-1.0,-0.92,-0.35,0.48,0.48,-0.28,-0.83,-0.98,-0.99,-0.75,...,-0.53,-0.97,-1.00,-0.94,-0.31,0.51,0.48,-0.15,-0.74,-0.95
std,0.0,0.23,0.59,0.53,0.54,0.71,0.42,0.14,0.09,0.40,...,0.61,0.15,0.05,0.21,0.64,0.55,0.62,0.74,0.51,0.23
min,-1.0,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,...,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00,-1.00
25%,-1.0,-1.00,-0.88,0.25,0.25,-1.00,-1.00,-1.00,-1.00,-1.00,...,-1.00,-1.00,-1.00,-1.00,-0.88,0.38,0.25,-1.00,-1.00,-1.00
50%,-1.0,-1.00,-0.50,0.62,0.62,-0.50,-1.00,-1.00,-1.00,-1.00,...,-0.88,-1.00,-1.00,-1.00,-0.50,0.62,0.75,-0.25,-1.00,-1.00
75%,-1.0,-1.00,0.12,0.88,0.88,0.38,-1.00,-1.00,-1.00,-0.62,...,-0.12,-1.00,-1.00,-1.00,0.25,1.00,1.00,0.50,-0.75,-1.00
max,-1.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

NOw, let's seperate the dataset into train and test

In [16]:
# Import train test split from Sklearn
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

Let's apply the KNN to create a Classification Model

In [17]:
# Import KNN classifier from sklearn
from sklearn.neighbors import KNeighborsClassifier

# Import performance metrics from sklearn
from sklearn.metrics import accuracy_score, classification_report

In [18]:
# Perform KNN Classification
knn_classifier = KNeighborsClassifier(n_neighbors=5)
knn_classifier.fit(X_train, y_train)
knn_predictions = knn_classifier.predict(X_test)

Now, Lets, also do classification using Suppor Vector Machine

In [19]:
# Import Support Vector Machine from sklearn
from sklearn.svm import SVC

# SVM Classification
svm_classifier = SVC(kernel='linear')
svm_classifier.fit(X_train, y_train)
svm_predictions = svm_classifier.predict(X_test)

Let's compare the results from KNN and SVM models

In [20]:
# Compare performance using accuracy metric
knn_accuracy = accuracy_score(y_test, knn_predictions)
svm_accuracy = accuracy_score(y_test, svm_predictions)

print("KNN Accuracy:", knn_accuracy)
print("SVM Accuracy:", svm_accuracy)

KNN Accuracy: 0.9861111111111112
SVM Accuracy: 0.9805555555555555

In [21]:
# Additional comparison using classification report
print("\nKNN Classification Report:")
print(classification_report(y_test, knn_predictions))

print("\nSVM Classification Report:")
print(classification_report(y_test, svm_predictions))

KNN Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        33
           1       1.00      1.00      1.00        28
           2       1.00      1.00      1.00        33
           3       1.00      1.00      1.00        34
           4       0.98      1.00      0.99        46
           5       0.98      0.96      0.97        47
           6       0.97      1.00      0.99        35
           7       1.00      0.97      0.99        34
           8       1.00      1.00      1.00        30
           9       0.95      0.95      0.95        40

    accuracy                           0.99       360
   macro avg       0.99      0.99      0.99       360
weighted avg       0.99      0.99      0.99       360


SVM Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        33
           1       1.00      1.00      1.00        28
           2       1.00      1.00      1.00        33
           3       0.97      0.94      0.96        34
           4       0.98      1.00      0.99        46
           5       0.96      1.00      0.98        47
           6       1.00      1.00      1.00        35
           7       0.97      0.97      0.97        34
           8       1.00      0.97      0.98        30
           9       0.95      0.93      0.94        40

    accuracy                           0.98       360
   macro avg       0.98      0.98      0.98       360
weighted avg       0.98      0.98      0.98       360

**2. Create digits classification model using DT algorithm using 50-50% and 70-30% data splitting methods. Compare performances of these two models and explain the impact of difference in data splitting on the performances of the model.**

Now, let's split the dataset using 50-50 & 70-30 data splitting and check its performance.

First, start with 50-50 splitting model

In [22]:
# First, import Decision Tree Classifier from SKlearn
from sklearn.tree import DecisionTreeClassifier

# Data splitting methods: 50-50%
X_train_50, X_test_50, y_train_50, y_test_50 = train_test_split(digits.data, digits.target, test_size=0.5, random_state=42)

# Decision Tree Classification - 50-50% data splitting
dt_classifier_50 = DecisionTreeClassifier()               #create the classifier
dt_classifier_50.fit(X_train_50, y_train_50)              #fit the model into the classifier
dt_predictions_50 = dt_classifier_50.predict(X_test_50)   #predict the output

Then, go for the 70-30 splitting model

In [23]:
# Data splitting methods: 70-30%
X_train_70, X_test_70, y_train_70, y_test_70 = train_test_split(digits.data, digits.target, test_size=0.3, random_state=42)

# Decision Tree Classification - 70-30% data splitting
dt_classifier_70 = DecisionTreeClassifier()
dt_classifier_70.fit(X_train_70, y_train_70)
dt_predictions_70 = dt_classifier_70.predict(X_test_70)

Now, lets compare the accuracy score from both the models

In [24]:
# Compare performance using accuracy metric
dt_accuracy_50 = accuracy_score(y_test_50, dt_predictions_50)
dt_accuracy_70 = accuracy_score(y_test_70, dt_predictions_70)

print("Decision Tree Accuracy (50-50%):", dt_accuracy_50)
print("Decision Tree Accuracy (70-30%):", dt_accuracy_70)

Decision Tree Accuracy (50-50%): 0.8109010011123471
Decision Tree Accuracy (70-30%): 0.837037037037037

It shows that 70%-30% gives a better accuracy perfromance as compared to 50%-50%.

**3. Create two more KNN-based classification models using the dataset used in Q1 by varying distance metrics such as using cityblock and cosine. Report the performances of the developed models including Q1 and explain the similarity or differences if any.**

Now, let's create KNN classification based on difference distance measures like euclidean, manhhaten, and compare the results.

Let's start with distance metrics as 'Euclidean'.

In [25]:
#KNN Classification with Different Distance Metrics:

# KNN Classification - Euclidean distance (default distance metric)
knn_classifier_euclidean = KNeighborsClassifier(n_neighbors=5, metric='euclidean')
knn_classifier_euclidean.fit(X_train, y_train)
knn_predictions_euclidean = knn_classifier_euclidean.predict(X_test)

Now, lets take the distance metrics as 'Cityblock'.

In [26]:
# KNN Classification - Cityblock distance (Manhattan distance)
knn_classifier_cityblock = KNeighborsClassifier(n_neighbors=5, metric='cityblock')
knn_classifier_cityblock.fit(X_train, y_train)
knn_predictions_cityblock = knn_classifier_cityblock.predict(X_test)

Now, lastly choose the distance metrics as 'Cosine'.

In [27]:
# KNN Classification - Cosine distance
knn_classifier_cosine = KNeighborsClassifier(n_neighbors=5, metric='cosine')
knn_classifier_cosine.fit(X_train, y_train)
knn_predictions_cosine = knn_classifier_cosine.predict(X_test)

Let's compare the results from variation by difference in distance metrics

In [28]:
# Compare performance using accuracy metric
knn_accuracy_euclidean = accuracy_score(y_test, knn_predictions_euclidean)
knn_accuracy_cityblock = accuracy_score(y_test, knn_predictions_cityblock)
knn_accuracy_cosine = accuracy_score(y_test, knn_predictions_cosine)

In [29]:
print("KNN Accuracy (Euclidean Distance):", knn_accuracy_euclidean)
print("KNN Accuracy (Cityblock Distance):", knn_accuracy_cityblock)
print("KNN Accuracy (Cosine Distance):", knn_accuracy_cosine)

KNN Accuracy (Euclidean Distance): 0.9861111111111112
KNN Accuracy (Cityblock Distance): 0.9777777777777777
KNN Accuracy (Cosine Distance): 0.9833333333333333

It shows that 'Cosine' is performing better as compared to other two distance metrics.

## **Part-2**
**4. Creating random forest model using HR-Employee-Attrition.csv dataset and improve the result using hyperparameter tuning. Hints. Visualise your performance fluctuation for different hyperparameter values.**

Let's load the HR employee attrition dataset located in google drive folder

In [30]:
# Import the file from google drive, mount the drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
# Load the dataset file and read the csv
folder_path = "/content/drive/MyDrive/MSDeakin/SIG720-MachineLearning/"
file_name = "HR-Employee-Attrition.csv"

# Load the CSV file into a DataFrame
dataset = pd.read_csv(folder_path + file_name)

Let's have a glimpse of the dataset

In [32]:
dataset.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

Let's check some basic info of the dataset to understand the dataset better

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

The dataset has multiple object variables that might be required to encode before modelling the data.

Let's look at these unique values in each object datatype feature

In [37]:
# Filter columns with object datatype (categorical features)
categorical_features = dataset.select_dtypes(include=['object'])

# Get unique values for each categorical feature
for column in categorical_features.columns:
    unique_values = categorical_features[column].unique()
    print(f"Unique values for '{column}': {unique_values}")

Unique values for 'Attrition': ['Yes' 'No']
Unique values for 'BusinessTravel': ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Unique values for 'Department': ['Sales' 'Research & Development' 'Human Resources']
Unique values for 'EducationField': ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
Unique values for 'Gender': ['Female' 'Male']
Unique values for 'JobRole': ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
Unique values for 'MaritalStatus': ['Single' 'Married' 'Divorced']
Unique values for 'Over18': ['Y']
Unique values for 'OverTime': ['Yes' 'No']

Before, proceeding we will have to encode these object datatype features

In [34]:
# Statistical summary of the dataset
dataset.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [40]:
# Check for missing values in each column
missing_values = dataset.isnull().sum()

# Display the total number of missing values for each column
print("Missing Values:")
print(missing_values)

Missing Values:
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

Let's encode the object datatype from the dataset

In [42]:
# Load the dataset
df_HR = dataset.copy()

# Preprocess the data (one-hot encode categorical variables)
df_HR_encoded = pd.get_dummies(df_HR, drop_first=True)

In [44]:
# Let's have a glimpse of dataset after the encoding is done
df_HR_encoded.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0,0,0,0,0,1,0,0,1,1
1,49,279,8,1,1,2,3,61,2,2,...,0,0,0,0,1,0,0,1,0,0
2,37,1373,2,2,1,4,4,92,2,1,...,1,0,0,0,0,0,0,0,1,1
3,33,1392,3,4,1,5,4,56,3,1,...,0,0,0,0,1,0,0,1,0,1
4,27,591,2,1,1,7,1,40,3,1,...,1,0,0,0,0,0,0,1,0,0

Now, let's split the dataset in 80:20 ratio

In [68]:
# Split the data into features and target
X = df_HR_encoded.drop('Attrition_Yes', axis=1)  # Assuming 'Attrition_Yes' is the encoded target column for Attrition
y = df_HR_encoded['Attrition_Yes']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Let's create a Random Forest model with Hyperparamter tuning.

Here, we are not doing any any scaling of the dataset as Random Forest handles it well and doesnot require any scaling.

In [47]:
# First Import the libraries required for Random Forest Model
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [69]:
#Creating Random Forest Model with Hyperparameter Tuning:

# Create the Random Forest classifier
rf_classifier = RandomForestClassifier(random_state=42)

# Train the classifier on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the testing data
rf_predictions = rf_classifier.predict(X_test)

# Calculate accuracy of the model
rf_accuracy = accuracy_score(y_test, rf_predictions)
print("Random Forest Accuracy:", rf_accuracy)

Random Forest Accuracy: 0.8775510204081632

Let's get the best Random Forst parameters from the hyperparameter tuning

In [70]:
# Define hyperparameter grid for tuning
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

In [71]:
# Perform GridSearchCV for hyperparameter tuning
grid_search_rf = GridSearchCV(rf_classifier, param_grid, cv=5, scoring='accuracy', error_score='raise')
grid_search_rf.fit(X_train, y_train)

# Get the best hyperparameters
best_rf_classifier = grid_search_rf.best_estimator_

In [72]:
# Get the best hyperparameters
best_params = grid_search_rf.best_params_

# Print the best hyperparameters
print("Best Parameters:")
print(best_params)

Best Parameters:
{'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 50}

In [73]:
# Make predictions using the best model
rf_predictions = best_rf_classifier.predict(X_test)

# Calculate accuracy of the best model
rf_accuracy = accuracy_score(y_test, rf_predictions)

#print the result
print("Random Forest Accuracy:", rf_accuracy)

Random Forest Accuracy: 0.8809523809523809

So, after hyperparameter tuning accuracy increased by 1%. So we have acheived our target.

**5. Creating GradientBoost model using HR-Employee-Attrition.csv dataset and improve the
result using hyperparameter tuning.**

In [58]:
#Creating GradientBoost Model with Hyperparameter Tuning:

# Import GradientBoost Classifier
from sklearn.ensemble import GradientBoostingClassifier

# Create the GradientBoost classifier
gb_classifier = GradientBoostingClassifier(random_state=42)

Let apply the model without any hyperparameter tuning.

In [59]:
# Train the classifier on the training data
gb_classifier.fit(X_train, y_train)

# Make predictions on the testing data
gb_predictions = gb_classifier.predict(X_test)

# Calculate accuracy of the model
gb_accuracy = accuracy_score(y_test, gb_predictions)
print("GradientBoost Accuracy:", gb_accuracy)

GradientBoost Accuracy: 0.8809523809523809

Let's do the hyperparameter tuning to improve the perfromance of the model

In [93]:
# Define hyperparameter grid for tuning
param_grid = {
    'n_estimators': [50, 100, 200],
    'learning_rate': [0.05, 0.1, 0.2],
    'max_depth': [3, 5, 7]
}

In [101]:
# Define a different hyperparameter grid for tuning
param_grid = {
    'n_estimators': [50, 100, 150, 200],
    'learning_rate': [0.005, 0.01, 0.05, 0.1],
    'max_depth': [3, 5, 7, 9]
}

In [102]:
# Perform GridSearchCV for hyperparameter tuning
grid_search_gb = GridSearchCV(gb_classifier, param_grid, cv=5, scoring='accuracy')
grid_search_gb.fit(X_train, y_train)

# Get the best hyperparameters
best_gb_classifier = grid_search_gb.best_estimator_

In [103]:
# Get the best hyperparameters
best_params = grid_search_gb.best_params_

# Print the best hyperparameters
print("Best Parameters:")
print(best_params)

Best Parameters:
{'learning_rate': 0.1, 'max_depth': 3, 'n_estimators': 50}

In [104]:
# Make predictions using the best model
gb_predictions = best_gb_classifier.predict(X_test)

# Calculate accuracy of the best model
gb_accuracy = accuracy_score(y_test, gb_predictions)
print("Best GradientBoost Accuracy:", gb_accuracy)

Best GradientBoost Accuracy: 0.8741496598639455

Accuracy rather decreased. So, let's try feature importance to imrove the performance.

In [65]:
# Get feature importances
feature_importances = gb_classifier.feature_importances_

# Sort features based on their importances in descending order
sorted_indices = feature_importances.argsort()[::-1]

# Select top 10 most important features (you can change this number as needed)
num_selected_features = 10
selected_feature_indices = sorted_indices[:num_selected_features]

# Get the names of the selected features
selected_features = X_train.columns[selected_feature_indices]

print(selected_features)

Index(['OverTime_Yes', 'MonthlyIncome', 'Age', 'StockOptionLevel', 'JobLevel',
       'JobInvolvement', 'DistanceFromHome', 'TotalWorkingYears',
       'EmployeeNumber', 'DailyRate'],
      dtype='object')

In [66]:
# Keep only the selected features in the training and testing sets
X_train_selected = X_train.iloc[:, selected_feature_indices]
X_test_selected = X_test.iloc[:, selected_feature_indices]

In [67]:
# Create a new Gradient Boosting classifier with the selected features
gb_classifier_selected = GradientBoostingClassifier(random_state=42)

# Retrain the classifier on the selected features
gb_classifier_selected.fit(X_train_selected, y_train)

# Make predictions using the classifier with selected features
gb_predictions_selected = gb_classifier_selected.predict(X_test_selected)

# Calculate accuracy of the model with selected features
gb_accuracy_selected = accuracy_score(y_test, gb_predictions_selected)
print("GradientBoost Accuracy with Feature Selection:", gb_accuracy_selected)

GradientBoost Accuracy with Feature Selection: 0.8605442176870748

Perfromance has not became better, so need to do apply something else to improve the performance.

Let's check for class imbalance if there is any might be obstructing the performance improvement

In [82]:
# Check the class distribution of the target variable 'Attrition'
class_distribution = dataset['Attrition'].value_counts()

# Calculate the percentage of each class
percentage_class_distribution = class_distribution / len(dataset) * 100

print("Class Distribution:")
print(class_distribution)
print("\nPercentage Class Distribution:")
print(percentage_class_distribution)

Class Distribution:
No     1233
Yes     237
Name: Attrition, dtype: int64

Percentage Class Distribution:
No     83.877551
Yes    16.122449
Name: Attrition, dtype: float64

It shows there is class imbalance exist in the data. So, let's try handling it and running the model again.

In [97]:
from imblearn.over_sampling import SMOTE

# Apply SMOTE to handle class imbalance in the training data
smote = SMOTE(random_state=42)
X_train_balanced, y_train_balanced = smote.fit_resample(X_train, y_train)

In [98]:
# Create the Gradient Boosting classifier with updated hyperparameters
gb_classifier = GradientBoostingClassifier(n_estimators=50, max_depth= 3, learning_rate=0.1, random_state=42)

# Train the classifier on the balanced training data
gb_classifier.fit(X_train_balanced, y_train_balanced)

# Make predictions on the testing data
gb_predictions = gb_classifier.predict(X_test)

# Calculate accuracy of the model
gb_accuracy = accuracy_score(y_test, gb_predictions)
print("GradientBoost Accuracy with SMOTE and Hyperparameter Tuning:", gb_accuracy)

GradientBoost Accuracy with SMOTE and Hyperparameter Tuning: 0.8571428571428571

**6. Compare the best model after hyperparameter tuning found in Q4 and Q5, and explain which
model is good and why.**

In [99]:
print("Best Random Forest Model:", best_rf_classifier)
print("Best GradientBoost Model:", best_gb_classifier)
print("Random Forest Accuracy:", rf_accuracy)
print("GradientBoost Accuracy:", gb_accuracy)

Best Random Forest Model: RandomForestClassifier(max_depth=10, min_samples_split=5, n_estimators=50,
                       random_state=42)
Best GradientBoost Model: GradientBoostingClassifier(n_estimators=50, random_state=42)
Random Forest Accuracy: 0.8809523809523809
GradientBoost Accuracy: 0.8571428571428571

Let's try ensembling mthod to improve the accuracy of the model

In [ ]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import GradientBoostingClassifier, VotingClassifier


# Create individual Gradient Boosting classifiers with different hyperparameters
gb_classifier_1 = GradientBoostingClassifier(n_estimators=100, learning_rate=0.01, random_state=42)
gb_classifier_2 = GradientBoostingClassifier(n_estimators=150, learning_rate=0.05, random_state=42)
gb_classifier_3 = GradientBoostingClassifier(n_estimators=200, learning_rate=0.1, random_state=42)

# Create a VotingClassifier as an ensemble of the individual models
voting_classifier = VotingClassifier(
    estimators=[('gb1', gb_classifier_1), ('gb2', gb_classifier_2), ('gb3', gb_classifier_3)],
    voting='hard'
)

In [105]:
# Perform cross-validation on the VotingClassifier
cv_scores = cross_val_score(voting_classifier, X_train, y_train, cv=5, scoring='accuracy')

# Train the VotingClassifier on the full training data
voting_classifier.fit(X_train, y_train)

# Make predictions on the testing data
ensemble_predictions = voting_classifier.predict(X_test)

# Calculate accuracy of the ensemble model
ensemble_accuracy = accuracy_score(y_test, ensemble_predictions)
print("Ensemble Model Accuracy:", ensemble_accuracy)

Ensemble Model Accuracy: 0.8809523809523809

using ensemble model we have improved the accuracy of the model.