<a href="https://colab.research.google.com/github/art-python/MSDeakin/blob/SIG742-Modern-Data-Science/SIG742Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Student ID:** ***S22301452***

**Student Name:** ***Anoop Kumar Raut***

# Part-1

### Question 1.1

ages = [5,31,43,48,50,41,7,11,15,39,80,82,32,2,8,6,25,36,27,61,31] and the length of the list is 21.

* find the average value of age (don’t use numpy and do not import other module or library, do not
directly use math,statistics module functions except the function sum);
* find the standard deviation from the age list (don’t use numpy and do not import other module or
library, do not directly use math, statistics module functions except the function sum)

**Hints:** You could firstly create a function for calculating the mean, then create the second
function for calculate the sum of square deviations of sequence data, then create the thrid one
for standard deviation. Check for the steps on how to calculate the standard deviation from
https://www.mathsisfun.com/data/standard-deviation-formulas.html

Run your defined function(s) to calculate the average value of age and standard deviation of the
age from given list

Answer 1.1

In [ ]:
# Finding average using basic method

ages = [5, 31, 43, 48, 50, 41, 7, 11, 15, 39, 80, 82, 32, 2, 8, 6, 25, 36, 27, 61, 31]

In [ ]:
# Calculate the average using sum and len function
avg = sum(ages) / len(ages)

print("Average age:", avg)

Average age: 32.38095238095238

Formula of Standard Deciation:

![standard-deviation-formula.svg]()

In [ ]:
# Calculate the std. deviation using the basic method

# Calculate the squared difference
sq_diff = [(age - avg) ** 2 for age in ages]

# Calculate the average of squared differences
avg_sq_diff = sum(sq_diff) / len(ages)

# Calculate the standard deviation (square root of average of squarred difference)
std_dev = avg_sq_diff ** 0.5

print("Standard Deviation:", std_dev)

Standard Deviation: 22.67886826452407

In [ ]:
# Lets try using seperate functions for each terms

# function to calculate the average
def mean(ages):
  return sum(ages)/len(ages)

# function to calculate the sum of the squares of the deviations
def sq_dev (ages,mean):
  sq_dev = [(x - mean(ages)) ** 2 for x in ages]
  return sum(sq_dev)

# function to calculate the standard deviation
def std_dev(ages):
  ages_mean = mean(ages)
  sum_squarred_deviation = sq_dev(ages, mean)
  variance =  sum_squarred_deviation / len(ages)
  return variance ** 0.5

In [ ]:
# now let's use the above function to calculate the standard deviation

standard_deviation = std_dev(ages)
print("Standard Deviation:", standard_deviation)

Standard Deviation: 22.67886826452407

### Question 1.2

Writing the code or function to achieve below requirements:
* You are given the heads of two sorted linked lists list1 = [1,2,4] and list2 = [1,3,4]. Merge
the two lists in a one sorted list which is [1,1,2,3,4,4]. (don’t use numpy or import other
module / library);
* You are given the heads of two sorted linked lists list1 = [1,2,4] and list2 = [1,3,4]. Merge
the two lists in a one sorted list without duplicated elements which is [1,2,3,4]. (don’t use
numpy or import other module / library);

Answer 1.2

In [ ]:
# list 1 as proposed
list1 = [1,2,4]

# list 2 as proposed
list2 = [1,3,4]

In [ ]:
# Here we will use the sort function to sort the joint list (list 1 and list 2)

merge_list = sorted(list1 + list2)

print(merge_list)

[1, 1, 2, 3, 4, 4]

In [ ]:
# Here we will use the set function to sort the value without repeating any duplicates
merge2_list = set(list1 + list2)

print(merge2_list)

{1, 2, 3, 4}

### Question 1.3

You are required to design the code (by writing code or function) could achieve the mobile
number searching mechanism which could allow you to:

* for Four mobile numbers in a list [’10009091003’,’10008293312’,’10007838282’, ‘130001002’]
* print “Yes” when last digit in mobile number is not 3
* print “No” when last digit in mobile number is 3
* print “Not Valid” when length of the mobile number is small than 11 digits

(Optional: You could import re to use the regex function)

Answer 1.3

In [ ]:
# Let's first create a list of mobile numbers

# List of mobile numbers
mobile_numbers = ['10009091003', '10008293312', '10007838282', '130001002']

In [ ]:
def search (mobile_numbers):
  result = []

  for i in mobile_numbers:
    if len(i) < 11:
      result.append('Not Valid')
    else:
      if i[-1] != '3':
        result.append('Yes')
      else:
        result.append('No')

  return result

In [ ]:
search(mobile_numbers)

['No', 'Yes', 'Yes', 'Not Valid']

### Question 1.4

You are required to use For statement to print out below * mark in 5 lines (must use control flow
such as For statement).

&ast;

&ast; &ast;

&ast; &ast; &ast;

&ast; &ast; &ast; &ast;

&ast; &ast; &ast; &ast; &ast;

Example only (you could use others like While)

For i in range ( 5 ) :
    
      #continue to write your code in below#

Please do not directly print it out, you must finish the question with control flow syntax.

Answer 1.4

In [ ]:
for i in range (5):
  print("*" * (i + 1))

*
**
***
****
*****

### Question 1.5


Given list A = [1,2,3,[4,5,[’x1’,6,[1,2,3,’
sig742’]]]],

writing a function to print 1,2,3,4,5,x1,6,1,2,3,sig742
(must define a function to run, the input for function is list A, run the function and print the results line by line or in one line)

Answer 1.5

In [ ]:
# first create the list
A = [1, 2, 3, [4, 5, ['x1', 6, [1, 2, 3, 'sig742']]]]

In [ ]:
def custom_print(List):
  for item in List:
    if type(item) == list:
      custom_print(item)
    else:
      print(item)

In [ ]:
custom_print(A)

1
2
3
4
5
x1
6
1
2
3
sig742

### Question 1.6

Write the code or function to achieve:

Sort the dictionary list=[{′name′: a, ′age′: 55}, {′name′: b, ′age′: 30}, {′name′: c, ′age′: 50}]

with the value of age (from smallest to largest, you could use default sorted function).

Answer 1.6

In [ ]:
# first create the dictionary as suggested having age and name

new_list_unsorted=[{'name': 'a', 'age': 55}, {'name': 'b', 'age': 30}, {'name': 'c', 'age': 50}]

In [ ]:
new_list_unsorted

[{'name': 'a', 'age': 55}, {'name': 'b', 'age': 30}, {'name': 'c', 'age': 50}]

In [ ]:
# now to sort the value from smallest to largest we can use sort function

# sort function needs itemgetter function
from operator import itemgetter

new_list_sorted = sorted(new_list_unsorted, key=itemgetter('age'))

In [ ]:
new_list_sorted

[{'name': 'b', 'age': 30}, {'name': 'c', 'age': 50}, {'name': 'a', 'age': 55}]

### Question 1.7

Define two functions to sum your student ID (all numeric digits in the ID) and then find out if the
result is an odd number or even number there are two functions for you to implement (you
must create the below two functions):

* one is sum_digits,
* another one is check_studentid.

your code will have two functions as below:

* def sum_digits ( studentid ):
       #write your code here
       return sum_digits_result

* def check_studentid (sum_digits_result) :
       #write your code here

Run your functions to find out the result and the result must illustrate whether the result from
function check_studentid is odd or even number (this is critical to be used for Question 2).

Answer 1.7

Solution 1.7

(a) Let's create a function to get the sum of digits in the student_id

In [ ]:
student_id =  'S22301452'

In [ ]:
# let;s define a function to total the digits in the student_id
def sum_digits(student_id):

    # we need to initialize a variable to store the sum of digits
    total = 0

    # iterate through the characters in the student ID
    for i in student_id:
        # Check if the character is a numeric digit
        if i.isdigit():
            # Convert the character to an integer and add it to the total
            total += int(i)

    return total

In [ ]:
# Calculate the sum of digits in the student ID
id_sum = sum_digits(student_id)
print("Sum of digits:", id_sum)

Sum of digits: 19

(b) Let's create a function to take the sum obtained from sum_digits as input and checks whether the result is an odd or even number.

In [ ]:
def check_studentid(student_id):

    # first we n eed to call the sum_digits function to calculate the sum of digits
    id_sum = sum_digits(student_id)

    # Check if the sum is even or odd
    if id_sum % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [ ]:
# Now let's check if sum of digits in the student ID is even or odd
result = check_studentid(student_id)
print("The total sum of the digits is an", result, "number.")

The total sum of the digits is an Odd number.

So, it's a **Odd** Number

### Question 1.8

Given an array of integers [1, 2, 6, 8], return indices of the two numbers such that they add up
to 10.You may assume that each input would have exactly one solution.
Explanation
Given nums = [1, 2, 6, 8], target = 10,
Because nums[1] + nums[3] = 2 + 8 = 10,
return [1, 3].
Your code should have a defined function which could take the array nums= [1, 2, 6, 8] as input
and run the function to return a list [1,3] (only [1,3])

Answer 1.8

In [ ]:
# Example array and target value
array = [1, 2, 6, 8]

In [ ]:
def two_sum(array):

    # Create a dictionary to store the indices of numbers
    array_indices = {}

    for i, num in enumerate(nums):
        comp = 10 - num
        if comp in array_indices:
            return [array_indices[comp], i]
        array_indices[num] = i

    return None  # Return None if no solution is found

In [ ]:
# Call the function and print the result
result = two_sum(array)
print(result)  # Output: [1, 3]

[1, 3]

### =============== THE END ===============

# Part-2

As in Q.1.7 our output result came out to be an Odd number. Hence, choosing version-1 as task for Part-2.

**Question 2.**

Whether the three numbers could form the triangle? You need to write code (function) with 3
numeric inputs and then check whether the given three numbers could form the triangle.

### Question 2.1

You are given three sets of list and each list contains three numbers, you will need to write a
code with functionality of inputting the three numbers from each list and find out the answers
for below (three) questions. list1 = [1, 3, 5], list2 = [12, 35, 37], list3 = [2, 2, 2.8]

* Define a function to check whether the given three numbers could form the a triangle?
* Define a function to check whether the given three numbers could form the right
triangle?
* Write the code or function to check whether the given three numbers could form the
isosceles triangle?

In [ ]:
#let's first create the given lists

# List 1
list1 = [1, 3, 5]

# List 2
list2 = [12, 35, 37]

# List 3
list3 = [2, 2, 2.8]

* Define a function to check whether the given three numbers could form the a triangle?

Soln. The condiiton to make any triangle as per geometry is defined by a mathematical relation which is:

If triangle has 3 sides (a, b, c). The sum of two sides should be larger than 3rd side.

1. a + b > c
2. b + c > a (or)
3. a + c > b (or)

In [ ]:
# we would need math library for this task
import math

# let's create a function that satisfies the condition for making any triangle
def is_triangle(side_lengths):

    # to check whether there are provided 3 sides of triangle
    if len(side_lengths) != 3:
        return False

    # sort the number
    a, b, c = sorted(side_lengths)

    if a + b > c:
        return True
    else:
        return False

In [ ]:
# Check if the lists can form triangles
result1 = is_triangle(list1)
result2 = is_triangle(list2)
result3 = is_triangle(list3)

# Print the results
print("Does list-1 forms a triangle or not? True/False: ", result1)
print("Does list-2 forms a triangle or not? True/False: ", result2)
print("Does list-3 forms a triangle or not? True/False: ", result3)

Does list-1 forms a triangle or not? True/False:  False
Does list-2 forms a triangle or not? True/False:  True
Does list-3 forms a triangle or not? True/False:  True

* Define a function to check whether the given three numbers could form the right triangle?

Soln. As per Pythagorean theorem if squares of the two shorter sides sum up to the square of the longest side. Then, it means the given numbers can form a right triangle.

In [ ]:
# let's create a function that satisfies the condition to check whether it's a right triangle

def is_right_triangle(side_lengths):

    # to check whether there are provided 3 sides of triangle
    if len(side_lengths) != 3:
        return False

    # sort the number in ascending order
    a, b, c = sorted(side_lengths)

    # we also need to check whethr a given list makes a successful triangle or not
    if is_triangle(side_lengths) == False:
      return print(side_lengths, 'is not a valid triangle')

    # let's check the condition of right triangle
    if a**2 + b**2 == c**2:
        return True
    else:
        return False

In [ ]:
# Check if the lists can form right triangle?
result1 = is_right_triangle(list1)
result2 = is_right_triangle(list2)
result3 = is_right_triangle(list3)

# Print the results
print("Does list-1 forms a right-triangle or not? True/False: ", result1)
print("Does list-2 forms a right-triangle or not? True/False: ", result2)
print("Does list-3 forms a right-triangle or not? True/False: ", result3)

[1, 3, 5] is not a valid triangle
Does list-1 forms a right-triangle or not? True/False:  None
Does list-2 forms a right-triangle or not? True/False:  True
Does list-3 forms a right-triangle or not? True/False:  False

* Write the code or function to check whether the given three numbers could form the isosceles triangle?

Sol. To check whether a triangle is isosceles or not, we need to check that at least two of the sides have the same length.

In [ ]:
# let's create a function that satisfies the condition to check whether it's an isosceles triangle

def is_iso_triangle(side_lengths):

    # to check whether there are provided 3 sides of triangle
    if len(side_lengths) != 3:
        return False

    # sort the number in ascending order
    a, b, c = sorted(side_lengths)

    # we also need to check whethr a given list makes a successful triangle or not
    if is_triangle(side_lengths) == False:
        return print(side_lengths, 'is not a valid triangle')

    # let's check the condition of isoceles triangle
    if a == b or b == c or c == a:
        return True
    else:
        return False

In [ ]:
# Check if the lists can form isosceles triangle?
result1 = is_iso_triangle(list1)
result2 = is_iso_triangle(list2)
result3 = is_iso_triangle(list3)

# Print the results
print("Does list-1 forms an isosceles-triangle or not? True/False: ", result1)
print("Does list-2 forms an isosceles-triangle or not? True/False: ", result2)
print("Does list-3 forms an isosceles-triangle or not? True/False: ", result3)

[1, 3, 5] is not a valid triangle
Does list-1 forms an isosceles-triangle or not? True/False:  None
Does list-2 forms an isosceles-triangle or not? True/False:  False
Does list-3 forms an isosceles-triangle or not? True/False:  True

### Question 2.2

The problem for Question 2.2 is how to calculate the area of the triangle. When you find out the
list(s) in Question 2.1 which could form the triangle, could you also please calculate their area
(round to integer)? There is one method to calculate the area of given shape - Heron’s formula
as below:

![image.png]()

You are required to define the function find_area(a,b,c) for this problem, and you will need to run the
find_area() and print the results for the list(s) in Question 2.1 which could form the triangle.

In [ ]:
# let's create a function to find the area of triangle from a given list of sides of the triangle

# we would need math library for this task
import math

def find_area(side_lengths):

  # to check whether there are provided 3 sides of triangle
  if len(side_lengths) != 3:
        return False

  # sort the number in ascending order
  a, b, c = sorted(side_lengths)

  # we also need to check whethr a given list makes a successful triangle or not

  if is_triangle(side_lengths) == False:
        return print(side_lengths, 'is not a valid triangle')

  # Calculate the semi-perimeter (s)
  s = (a + b + c) / 2

  # Calculate the area using Heron's formula
  area = math.sqrt(s * (s - a) * (s - b) * (s - c))

  # Round the area to the nearest integer
  area = round(area)

  return area

In [ ]:
# Calculate the area from the provided list of triangles sides
result1 = find_area(list1)
result2 = find_area(list2)
result3 = find_area(list3)

# Print the results
print("Area of the triangle List1 is: ", result1)
print("Area of the triangle List2 is: ", result2)
print("Area of the triangle List3 is: ", result3)

[1, 3, 5] is not a valid triangle
Area of the triangle List1 is:  None
Area of the triangle List2 is:  210
Area of the triangle List3 is:  2