<a href="https://colab.research.google.com/github/art-python/MSDeakin/blob/SIG742-Modern-Data-Science/SIG742Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Student ID:** ***S22301XXX***

**Student Name:** ***XXXXXXXXXXXXX***

In [1]:
!git clone <"https://github.com/art-python/MSDeakin/tree/SIG742-Modern-Data-Science">

/bin/bash: -c: line 1: syntax error near unexpected token `newline'
/bin/bash: -c: line 1: `git clone <"https://github.com/art-python/MSDeakin/tree/SIG742-Modern-Data-Science">'

# Part-1
## Data Acquisition and Manipulation

### Question 1.1

Find the missing values:
* Write the function missing_values_table and use the dataframe as the input. The function
should return the information of missing values by column (only for columns which have
missing values and the returned value should be the count of rows has missing values);
* For columns which have missing values, could you impute the missing values with the
mean value of the particular columns? (if you think it could not be done with mean value,
write down the reason in comments and report rather than code)

Answer 1.1

In [ ]:
# import all the libraries
import pandas as pd
import numpy as np

### Question 1.2

Find the price information from the data:
* Write code to print the median price of the items in the data;
* What is the 90th percentile value on the price;
* Draw the histogram chart for the price of the items in the data with 50 bins.

Answer 1.2

### Question 1.3

Exploring the shipping information from the data:
• Write code to find out the percentage of the items that are paid by the buyers.
* Draw (two) histogram graphs in one plot on the price for seller pays shipping and buyer
pays shipping (50 bins).
* When buying the items online, do you need to pay higher price if seller pays for the
shipping? Write the code to find out (Compare the median price of items paid by buyers
and items paid by sellers, and explain the result in the comment and report).
(Optional: You could use the subplot from EDA)

Answer 1.3

### Question 1.4

You are required to find out the item condition information from the data. Lower the number
(value), the better condition of the item.
* Write the code to find out (print) the count of the rows on each number (value) in column
item_condition_id.
* Draw the boxplot graphs (one plot) on the price for each item condition value, and find out
out whether the better condition of the item could have higher median price (draw the plot
and answer this question in the comment and report).

Answer 1.4

### Question 1.5

Conduct the category analysis and find out the relevant information:
* Write the code to find out (print) how many unique categories you could find from column
category_name.
* For the items with worst condition only (highest value from item_condition_id), write code
to (print) find out the top 3 categories (now you probably understand the findings you had
in Question 1.4).

Answer 1.5

### Question 1.6

The categories in column category_name have 3 parts. The three parts (main_cat,subcat_1 and
subcat_2) are concatenated with ’/’ character sequentially in the data now.
* Write the function (must be function) to split the text content (string value in each row) in
column category_name by ’/’ character. you need to handle the exception in the function
for those has missing values (NaN). For missing values (NaN), the results from splitting
should be ”Category Unknown”, ”Category Unknown”, ”Category Unknown”.
* Use the above function you wrote to create three new columns main_cat,subcat_1 and
subcat_2 with corresponding values from the result of splitting. Print out the dataframe to
show the top 5 rows for three new columns main_cat,subcat_1 and subcat_2.

Answer 1.6

### Question 1.7

After splitting the category for column category_name, we now have the three main details
regarding to the category information. However, we need to clean the text in each of the new
three columns in lowercase.
* Write code (or function) to change the text (value in each row) from the new three columns
to lowercase.
* Draw the bar chart to find out the top 5 most popular main categories (in column main_cat)
in the data (only showing the top 5).
* Write code (or function) to (print) find out how many unique main categories (in col umn
main_cat), unique first sub-categories (in column subcat_1) and unique second
sub-categories (in column subcat_2) respectively.

Answer 1.7

### Question 1.8

Exploring the price and categories.
* Write code to (print) find out the median price for all the categories in new column main_cat.
* Draw the bar chart to find out the top 10 most expensive first sub-categories (in column
subcat_1) in the data.
* Draw the bar chart to find out the top 10 cheapest second sub-categories (in column
subcat_2) in the data.

Answer 1.8

### Question 1.9

Exploring the price and brand.
* Write code to (print) find out the median price for all the brands (fill NaN with ’brand
unavailable’).
* Draw the bar chart to find out the top 10 most popular brands in the data.

Answer 1.9

### Question 1.10

Item Description Analysis.
* Could you draw the wordcloud chart by using the column clean_description.
* Divide the data with quantiles of the price (using qcut from pandas to obtain the first/sec
ond/third/fourth quantile).
* Draw the wordcould by using the column clean_description on each quantile of price data.

Answer 1.10

### =============== THE END ===============

# Part-2
## Time series analysis exercise

### Question 2.1

The dataset used here is the New York City Taxi Demand dataset. The raw data is from the
NYC Taxi and Limousine Commission. The data included here consists of aggregating the total
number of taxi passengers into 30 minute buckets. In this question, we will simply process the
data and explore the time series.
* Create two new dataframes df_day and df_hour by aggregating the demand value on
daily and hourly level.
* Plot the demand value in two line charts for both df_day and df_hour dataframes.
* Plot the seasonal decomposition components (Trend, Seasonal, Residual) from df_day
dataframe, also find out the p value from adfuller test. Do you think the df_day is stationary
enough (please explain your reasons in comments and report)?

### Question 2.2

In this question, we will try to use time series model such as ARIMA and others to build the
model(s) for forecasting the future.
* Create the acf and pacf plots for df_day dataframe.
* Find the best model with different parameters on ARIMA model. The parameter range for
p,d,q are all from [0, 1, 2]. In total, you need to find out the best model with lowest Mean
Abosulate Error from 27 choices based on the time from ”Jul-01-2014” to ”Dec-01-2014”.
* Using the best model in above steps to forecast the time from ”Jan-01-2015” to
”Jan-31-2015”. Plot the predicted value and the true demand value from ”Jan-01-2015” to
”Jan-31-2015”.
* Could you think of any other model (not as same as ARIMA) could do the forecasting for
demand value from ”Jan-01-2015” to ”Jan-31-2015”? You could choose one model
(except ARIMA) and train the model based on the demand value from ”Jul-01-2014” to
”Dec-01-2014” (same training data as the ARIMA). Hint: there are some resources
regarding other time series forecasting models such as prophet here and also the
exponential smoothing here.

### Question 2.3

In this question, we will detect the anomaly within the df_day dataframe.
* Create the Weekday column according to the timestamp column in df_day dataframe. The
value in Weekday column should be from [’Monday’, ’Tuesday’, ’Wednesday’,
’Thursday’,’Friday’, ’Saturday’, ’Sunday’]. Also create the Hour, Day, Month, Year,
Month_day (numeric format on day of the month), Lag (yesterday’s demand value ), and
Rolling_Mean (rolling 7 days mean demand value, minimized period is 1) 7 new columns
in df_day dataframe according to the timestamp column.
* Using Isolation Forest with above crafted features in df_day to find out the date which is
identified as ’outlier’.

Answer 2.3